In [5]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action='default')

In [6]:
d_dutch = pd.read_csv('../kp_data/dutchpay_claim.csv')
d_dutch_det = pd.read_csv('../kp_data/dutchpay_claim_detail.csv')

/Users/hwan/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [9]:
display(d_dutch.head(2), d_dutch_det.head(2))

   claim_id             claim_at    claim_user_id
0   4420721  2020-02-07 15:29:18  5cbd74112c55a0a
1   4420704  2020-02-07 15:26:54  5cbd74112c55a0a

,claim_detail_id,claim_id,recv_user_id,claim_amount,send_amount,status
0,12918735,4075714,39476d42bd5f268,4,NaN,CLAIM
1,12918734,4075714,a84a2bf8ab324d3,4,4.0,CHECK